body{
    margin: 0;
    padding: 20px;
    front-family:cursive;
}

header{
    color: black;
    text-align: center;
    font-size: x-large;
}


main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
 button{
    mar
 }